<div class="row">

  <div class="col-md-3">
    <div class="list-group">
      <a href="#" class="list-group-item active">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>
  </div>

  <div class="col-md-9">

      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
          <h4 class="pull-right">$24.99</h4>
          <h4><a href="#"><%= @provider.name %></a></h4>
          <p>¿Quieres hacer un pedido?</p>
          <div class="text-left">
            <%= link_to 'Pedir Servicio', new_provider_order_path(@provider), class:'btn btn-success' %>
          </div>
        </div>
        <div class="ratings">
          <p class="pull-right">3 reviews</p>
          <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              4.0 stars
          </p>
        </div>
      </div>

      <div class="well">
        <% @surveys.each do |survey| %>
          
            <div class="row">
              <div class="col-md-12">
                  <span class="stars" data-score=<%= survey.stars %>></span>
                  <%= survey.order.user_name %>
                  <span class="pull-right"><%= time_ago_in_words(survey.created_at) %></span>
                  <br><br>
                  <p><%= survey.comments %></p>
              </div>
            </div>
            <hr>
          
        <% end %>


      </div>

  </div>

</div>

<script>
  $('.stars').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>