<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<h1>Pedidos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>¿Cuándo?</th>
      <th>Servicio(s)</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date.strftime("%d/%m/%Y a las %I:%M %p") if order.date %></td>
        <td>
          <% order.order_services.each do |service| %>
            <span>#<%= service.user_service.service_name %></span>
          <% end %>
        </td>
        <td><%= order.description %></td>
        <td><%= order.status %></td>
        <% if current_user.is_provider? %>
          <td><%= link_to 'Ver', provider_order_path(current_user.id, order.id) %></td>
          <% if order.pending? %>
            <td>
              <%= link_to 'Confirmar', user_order_confirm_path(current_user.id, order.id), method: :put, data: { confirm: '¿Seguro que quieres confirmar?' } %>
            </td>
          <% elsif order.confirmed? %>
            <td>
              <%= link_to 'Terminar', user_order_finish_path(current_user.id, order.id), method: :put, data: { confirm: '¿Ya has terminado esta orden?' } %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% else %>
          <% if order.pending? || order.confirmed? %>
            <td>
              <%= link_to 'Ver', edit_provider_order_path(order.provider_id, order.id) %>
            </td>
            <td>
              <%= link_to 'Cancelar', user_order_reject_path(current_user.id, order.id), method: :put, data: { confirm: '¿Seguro que quieres cancelar?' } %>
            </td>
          <% else %>
            <td><%= link_to 'Ver', provider_order_path(current_user.id, order.id) %></td>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.is_provider? %>
  <hr>
  <h3>Resumen de Pedidos Recibidos</h3>
  <%= line_chart @orders_chart %>
<% end %>