<h1>Pedidos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>¿Cuándo?</th>
      <th>Servicio(s)</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date.strftime("%d/%m/%Y a las %I:%M %p") if order.date %></td>
        <td>
          <% order.order_services.each do |service| %>
            <span>#<%= service.user_service.service_name %></span>
          <% end %>
        </td>
        <td><%= order.aasm_state %></td>
        <% if (order.pending? || order.confirmed?) && !current_user.is_provider? %>
          <td><%= link_to 'Ver', edit_provider_order_path(order.provider_id, order.id) %></td>
          <td>
            <%= link_to 'Cancelar', user_order_reject_path(current_user.id, order.id), method: :put, data: { confirm: '¿Seguro que quieres cancelar?' } %>
          </td>
        <% else %>
          <td><%= link_to 'Ver', provider_order_path(current_user.id, order.id) %></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>