<p>
  <strong><%= current_user.is_provider ? "Opinión del usuario sobre tu servicio" : "¿Qué te ha parecido el servicio?" %></strong>
</p>
<p><%= @survey.comments %></p>
<p>
  <strong><%= current_user.is_provider ? "Nota del usuario sobre tu servicio" : "¿Qué nota le pondrías?" %></strong>
</p>
<div class="stars" data-score=<%= @survey.stars %>></div>

<hr>

<script>
	document.addEventListener("turbolinks:load", function() {
	  $('.stars').raty({
	    starOn: '<%= image_path('star-on.png') %>',
	    starOff: '<%= image_path('star-off.png') %>',
	    path: '',
	    readOnly: true,
	    score: function() {
	      return $(this).attr('data-score');
	    }
	  });
	});
</script>